<footer>
    <div class="row">
        <div class="col-md-4 ">
            <i class="fa fa-bullhorn fa-2x" aria-hidden="true"></i>
            <p class="footer-padding">Whichever treatment you stop in for, the team of NVQ3-qualified therapists have the skills and
                expertise to deliver amazing lasting results.</p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
            <p>Working Days<br>Tuesday to Saturday: 10AM - 6PM <br>Sunday & Monday: Closed</p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
            <p>5 Edgwarebury Lane <br>London -  HA8 8LH</p>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a class="phone" href="tel:020 8958 5968">020 8958 5968</a><br>
            </p>
            <span class="social-icons">
                <a href="https://www.instagram.com/amo_hairandbeauty_salon/" target="_blank">
                     <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/AMOhairbeauty" target="_blank">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
            </span>
        </div>
    </div>
</footer>
<!-- Copyright -->
<div class="bg-light text-center text-muted">© 2020 Amo</div>