<footer class='footer'>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Logo</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, ipsa.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>5 Edgwarebury Lane London HA8 8LH</p>
            </div>
            <div class="col-md-4">
                <h5>Info</h5>
                <p>Working Days</p>
                <p>Monday to Saturday</p>
                <p>10AM - 8PM</p>
                <p>Sunday  Closed</p>
            </div>
        </div>
    </div>
</footer>