{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>home page</h1>
<p>A modern and stylish salon located in the heart of Edgeware, Amo Hair & Beauty offers a full range of hair and beauty
    services for all your wants and needs. Enjoy a moment of indulgence in the calm, clean and cosy confines of this
    contemporary space as you're treated to a well-earned session of beauty therapy in the hands of experienced
    professionals.

    Equipped with a luxurious hair studio, specialist nail bar and private treatment room, this one-stop-shop has all
    you need to get your fix, whether you're after a fresh new style or just a bit of maintenance.

    Choose from a wide selection of classic hair treatments, ranging from quick trims to restyle cuts and stunning
    colour highlights. Let their master nail technician restore your hands and feet to their flawless best with a
    Shellac manicure or pedicure, or try one of their innovative skin treatments, designed to combat signs of ageing and
    rejuvenate your pores.

    Whichever treatment you stop in for, the team of NVQ3-qualified therapists have the skill and expertise to deliver
    amazing, lasting results.

    Amo can be found on Edgwarebury Lane, just a short walk from Edgeware underground station. Pay and display parking
    is available outside the venue.</p>

{% endblock %}